<template>
  <div class="input__container mb-10">
    <label :for="id" class="mb-5">{{ label }}</label>
    <input
      :class="`input__field mb-5 ${error && !disabled ? 'input__error' : ''}`"
      :value="value"
      :id="id"
      :name="id"
      :disabled="disabled"
      :readonly="disabled"
      :type="type"
      @input="input"
      @change="change"
      @blur="blur"
      @focus="focus"
    />
    <!-- TODO: styling error bericht + icon -->
    <div v-if="!valid && error && !disabled" class="error">
      <i class="fas fa-exclamation pr-10"></i>
      <span>{{ error }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "AppInputField",
  props: {
    id: {
      type: String,
      required: true, 
    },
    label: {
      required: true, 
      type: String
    },
    value: {
      required: true,
      type: String
    },
    disabled: {
      required: false, 
      type: Boolean, 
      default: false
    },
    error: {
      type: String, 
      required: false, 
      default: ''
    },
    valid: {
      type: Boolean,
      required: false, 
      default: true
    },
    type: {
      type: String,
      required: false, 
      default: 'text'
    }
  },
  methods: {
    input(event) {
      this.$emit("input", event.target.value);
    },
    change(event) {
      this.$emit("change", event.target.value);
    },
    blur(event) {
      this.$emit("blur", event.target.value);
    },
    focus() {
      this.$emit("focus");
    }
  }
};
</script>

<style scoped>
.input__container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.input__field {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--text-color);
} 
input:disabled {
  background-color: var(--input-inactive);
  cursor: not-allowed;
}
.error {
  color: red;
}
.input__error {
  border-color: red;
}
</style>