#app {
  font-family: sans-serif;
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

html {
  max-width: 700px;
  margin: auto;
  margin-top: 30px;
}

body {
  color: var(--text-color);
  background: var(--background);
  --text-color:  #38658b;
  --background:  #f7fafc;
  --button:  #38658b;
  --button-active:  #204d72;
  --input-inactive: #ecf4fc;
  --error: rgb(253, 75, 75);
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}