<template>
  <div id="app" class="flex_container light">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
.flex_container {
  display: flex;
}
</style>
