<template>
  <div class="container">
    <validation-observer ref="observer" v-slot="{ invalid }">
      <form>
        <validation-provider
          rules="required_field"
          v-slot="{ valid, errors }"
          name="initialen"
          mode="eager"
        >
          <app-input-field
            id="initialen"
            :valid="valid"
            label="Initialen"
            v-model="form.initials"
            :error="errors[0]"
          />
        </validation-provider>
        <app-input-field
          :valid="true"
          id="tussenvoegsel"
          label="Tussenvoegsel"
          v-model="form.preposition"
        />
        <validation-provider
          rules="required_field"
          v-slot="{ valid, errors }"
          name="achternaam"
          mode="eager"
        >
          <app-input-field
            :valid="valid"
            id="achternaam"
            label="Achternaam"
            v-model="form.lastName"
            :error="errors[0]"
          />
        </validation-provider>
        <validation-provider
          rules="required_field|postalcode"
          v-slot="{ valid, errors }"
          name="postcode"
          mode="eager"
          ref="postcode"
        >
          <app-input-field
            :valid="valid"
            label="Postcode"
            id="postcode"
            v-model="form.postalCode"
            :error="errors[0]"
            @blur="getAddress(valid)"
          />
        </validation-provider>
        <validation-provider
          rules="required_field"
          v-slot="{ valid, errors }"
          name="huisnummer"
          mode="eager"
        >
          <app-input-field
            :valid="valid"
            label="Huisnummer"
            id="huisnummer"
            v-model="form.number"
            type="number"
            :error="errors[0]"
          />
        </validation-provider>
        <validation-provider rules="required_field" v-slot="{ valid, errors }" name="straat" mode="lazy">
          <app-input-field
            :valid="valid"
            label="Straat"
            id="straat"
            v-model="form.street"
            :disabled="disableAddressField"
            :error="errors[0]"
          />
        </validation-provider>
        <validation-provider rules="required_field" v-slot="{ valid, errors }" name="stad" mode="lazy">
          <app-input-field
            :valid="valid"
            label="Stad"
            id="stad"
            v-model="form.city"
            :disabled="disableAddressField"
            :error="errors[0]"
          />
        </validation-provider>
        <validation-provider
          rules="required_field|email"
          v-slot="{ valid, errors }"
          name="email"
          mode="eager"
        >
          <app-input-field
            :valid="valid"
            label="Email"
            id="email"
            v-model="form.email"
            :error="errors[0]"
          />
        </validation-provider>
        <button type="submit" @click.prevent="submit" :disabled="invalid">Insturen</button>
      </form>
    </validation-observer>
  </div>
</template>

<script>
import AppInputField from "../../components/AppInputField/index.vue";
import axios from "axios";

export default {
  name: "Form",
  components: {
    AppInputField
  },
  data() {
    return {
      form: {
        initials: "",
        preposition: "",
        lastName: "",
        postalCode: "",
        street: "",
        city: "",
        number: "",
        email: ""
      },
      disableAddressField: true
    };
  },
  methods: {
    async submit() {
      const valid = await this.$refs.observer.validate();
      if (valid) {
        try {
          await axios.post("http://mockbin.org/request", this.form);
          this.$router.push({ name: "Bevestiging" });
        } catch {
          // TODO: create error page
          this.$router.push({ name: "error" });
        }
      }
    },
    async getAddress(valid) {
      if (valid) {
        try {
          const address = await this.findAddress();
          this.disableAddressField = true;
          this.form.street = address.straatnaam;
          this.form.city = address.woonplaatsnaam;
        } catch (error) {
          this.disableAddressField = false;
          this.resetAddressFields()
        }
      }
    },
    resetAddressFields() {
      this.form.street = ''
      this.form.city = ''
    },
    async findAddress() {
      const possibleMatches = await axios.get(
        `https://geodata.nationaalgeoregister.nl/locatieserver/v3/suggest?wt=json&q=${this.form.postalCode}`
      );
      const bestMatch = possibleMatches.data.response.docs.find(match => {
        return match.type === "postcode";
      });
      if (!bestMatch) {
        throw new Error("postalcode not found");
      }
      const response = await axios.get(
        `https://geodata.nationaalgeoregister.nl/locatieserver/v3/lookup?wt=json&id=${bestMatch.id}`
      );
      if (response.data.response.docs.length < 1) {
        throw new Error("address not found");
      }
      return response.data.response.docs[0];
    }
  }
};
</script>

<style scoped>
.container {
  min-width: 100%;
}
button {
  padding: 12px;
  border-radius: 4px;
  border: 0px;
  font-size: 1em;
  float: right;
  background-color: var(--button);
  color: var(--input-inactive);
  cursor: pointer;
}
button:disabled {
  background-color: var(--input-inactive);
  color: var(--button);
  cursor: not-allowed;
}
button:hover:not(:disabled) {
  background-color: var(--button-active);
}
</style>